[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "drcSeedGerm"]
	path = drcSeedGerm
	url = https://github.com/onofriandreapg/drcseedgerm
[submodule "drcte"]
	path = drcte
	url = https://github.com/onofriandreapg/drcte
[submodule "lmDiallel"]
	path = lmDiallel
	url = https://github.com/onofriandreapg/lmdiallel
